[Desktop Entry]
Type=Application
Name=MERK
GenericName=IRC Client
Comment=Fast, minimal Python IRC client
Exec=merk %u
Icon=io.github.NutjobLaboratories.Merk
Terminal=false
Categories=Network;Chat;InstantMessaging;
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
Keywords=IRC;Chat;Merk;Twisted;PyQt;
